.searchbox input{
    outline: none;
    border: none;
    border-bottom: 2px solid var(--other-color);
}

.searchbox .searchbtn{
    outline: none;
    border: none;
    background-color: var(--other-color);
}

.searchbox button{
    cursor: pointer;
}
.searchbox .buttonbox{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchbox .buttonbox button{
    outline: none;
    border: none;
    border-bottom: 1px solid var(--other-color);
    margin: 5px;
    width: 60%;
}

@media (max-width: 600px){
    .App>.container .searchbox{
      grid-row: 1;
      display:  flex;
      flex-direction: column;
      position: absolute;
      width: 80%;
      top: 7vh;
      /* visibility: hidden; */
     }

     .App>.container .searchbox input{
        text-align:  center;
        font-size: 120%;
     }

     
}

