.weatherbox .locandtime{
    grid-column: 1/span 10;
    grid-row: span 3;
    display: grid;
    place-content: center;
    font-size: 120%;
    border-bottom: 1px solid var(--other-color);
}

.weatherbox .info{
    grid-column: span 6;
    grid-row: span 10;
    text-align: left;
    display: flex;
    flex-direction: row;
}
.weatherbox .info div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.weatherbox .info .deg{
    flex-basis: 40%;
    font-size: 400%;
}

.weatherbox .info .moodandday{
    display: flex;
    flex-direction: column;
}
.weatherbox .info .moodandday .timeofday{
    font-weight: lighter;
    color: red;
}


.weatherbox .icon{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    grid-row: span 10;
    grid-column: span 4;
}

.weatherbox .icon img{
    width: 70%;
    height: 70%;
}

