*{
  font-family: cursive;
  color: darkblue;
}

:root[datatemp="cool"]{
 --primary-color: rgba(0, 0, 139,.8);
 --secondary-color: rgb(240, 248, 255); 
 --other-color: antiquewhite;
 --scrollcolor: darkblue;
}

:root[datatemp="hot"]{
  --primary-color: rgba(139, 19, 0, 0.8);
  --secondary-color: rgb(255, 248, 240); 
  --other-color: antiquewhite;
  --scrollcolor: darkblue;
 }

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: white;
}

.App>.container{
  height: 98vh;
  width: 85vw;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: repeat(10,1fr);
  grid-gap: 10px;
}

.App .container>div{
  grid-column: span 3;
  grid-row: span 6;
  background-color: var(--secondary-color);
  border-radius: 5px;
  box-shadow: 0px 0px 5px var(--secondary-color);
}

.err{
  color: red;
  font-size: 200%;
  display: grid;
  place-content: center;
}



@media (max-width: 600px) {
  .App {
    height: 100vh;
    width: 100vw;
    font-size: 50%;
  }
}